$cWhite: #ffffff;
$cBlack: #262626;
$cBrand: #F36C21;
$cGrey: #595959;
$cLightGrey: #A0A0A0;
$cError: #F32121;
$cGreen: #7EBD1B;

$cBtn: #F36C21;
$cBtnSec: #F2F2F2;
$cBtnSecHov: #E6E6E6;
$cBtnDis: #CCCCCC;
